<div class="container">
  <h1>List of cusines</h1>
  <br>
  <ul class="list-group">
    <li class="list-group-item clearfix" *ngFor="let f of food">
      <img class="w-25 img-responsive img-rounded" src={{f.img}} alt="img of a {{f.fName}}"/>
      <br>
      <h3 class="list-group-item-heading">
        Food Name: 
       {{  f.fName }}
      </h3>
      <br>
      <p class="list-group-item-text lead">

        Description: 
        <br>
       {{f.fDescription}}

        <br>
        <br>
        
      </p>
      <div class="btn-toolbar pull-left" role="toolbar" aria-label="">
        <p class="btn btn-success"  >Price: {{f.price}}</p>
        <p class="btn btn-outline-primary waves-effect">Enabled : {{f.enabled}}</p>
        <p class="btn btn-outline-secondary waves-effect">Cusines: {{f.cusines.cName}}</p>
      </div>
      <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
        <a class="btn btn-danger" (click)="deleteFood(f.fId)" >Delete</a>
        <a class="btn btn-light" [routerLink]="'/admin/editFood/' + f.fId">edit</a>
      </div>
    </li>
    
    <br>